* {
    padding: 0px;
    margin: 0px;
    font-style: normal;
    font-family: "Graviola-CsBe-regular", "Bahnschrift", Arial, sans-serif;
    font-size: 20px;
    border: none;
}
@font-face {
    font-family: 'Graviola-CsBe-regular';
    src: url("Graviola/Harbor\ Type\ -\ Graviola-Regular.otf");
    font-style: normal;
}
@font-face {
    font-family: 'Graviola-CsBe-light';
    src: url("Graviola/Harbor\ Type\ -\ Graviola-Light.otf");
}
nav {
	background: #3c3e3c;
	height: auto;
	width: auto;
	top: 0;
	left: 0;
	padding: 0px 20px;
}

nav ul {
	float: left;
	margin-left: 0px;
}

nav ul li {
	display: inline-block;
	line-height: 60px;
	margin: 0%;
}

nav ul li a {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
}
.block, div {
    display: block;
}
.underlined {
    font-style: normal;
    color: #E50010;
}
h1, h2, h3 {
    font-size: 30px;
}
a, img {
    padding: 5px;
}
header {
    background-color: #FFFFFF;
}
.flex-w {
    display: inline-flex;
    width: 100%;
}
canvas {
    border: solid#0A0A32;
    margin: 2px;
}
main {
    width: 100%;
    min-height: 100%;
}
.right {
    width: 55%;
    text-align: left;
}
.left {
    width: 45%;
    color: #FFFFFF;
    background-color: #0A0A32;
    margin: 10px;
    overflow-x: auto;
}
#etage-number {
    width: 50px;
}
.left h2 {
    color: #FFFFFF;
}
.black-box {
    width: 90%;
    margin: 2.5%;
    padding: 2.5%;
    background-color: #0A0A32;
    border-radius: 20px;
}
.black-box table {
    border-color: #0A0A32;
}
td h2, td button, .black-box h1, td a, td p {
    color: #FFFFFF;
    background-color: #0A0A32;
}
@keyframes appear {
    0%{
        top: -500px;
        background-color: rgba(0, 0, 0, 0);
        border: 10px solid rgba(0, 0, 0, 0);
    }
    100%{
        top: 0px;
        background-color: #ffffff;
        border: 10px solid #E50010;
    }
}
.message-and-error {
    position: fixed;
    width: 40%;
    margin-left: 30%;
    background-color: #ffffff;
    border-radius: 10px;
    border: 10px solid #E50010;
    top: 0px;
    animation: appear 0.5s;
}
.message-and-error h1, .message-and-error p {
    color: #E50010;
}
.small-input {
    width: 20%;
    min-width: 150px;
}
table button, table a {
    text-decoration: underline;
    background-color: rgba(100, 113, 233, 0.1);
}
.white {
    color: #FFFFFF;
}
p {
    display: inline-block;
}
canvas {
    display: block;
}
@media (max-width: 700px) {
    canvas {
        display: none;
    }
}
@media (max-width: 1300px) {
    @keyframes appear {
        0%{
            top: -500px;
            background-color: rgba(0, 0, 0, 0);
            border: 5px solid rgba(0, 0, 0, 0);
        }
        100%{
            top: 0px;
            background-color: #ffffff;
            border: 5px solid #E50010;
        }
    }
    .small-input {
        width: 18%;
        min-width: 100px;
    }
    main {
        text-align: left;
        display: block;
    }
    .right {
        width: 100%;
    }
    .left {
        width: 100%;
        margin: 0px;
    }
    .message-and-error {
        position: fixed;
        width: 100%;
        margin-left: 0px;
        border-radius: 0px;
        left: 0px;
        border: 5px solid #E50010;
    }
    img {
        width: 50%;
    }
    * {
        font-size: 15px;
    }
    h1, h2, h3 {
        font-size: 20px;
    }
}
a:hover, button:hover {
    color: #888888;
}
.thing {    
    font-size: 13px;
    color:rgb(255, 255, 255)
}
.footerdesign {
    position: relative;
    min-height: 10vh;
    margin-top: auto;
	bottom: 0;
	height: auto;
	text-align: center;
	width: 100%;
	background-color: #3c3c3c;
	color: #ffffff;
}