$nav {
	background: #3c3e3c;
	height: auto;
	width: auto;
	top: 0;
	left: 0;
	padding: 0px 20px;
}

nav ul {
	float: ;
	margin-left: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0%;
}

nav ul li a {
	color: #111111;
	font-size: 13px;
	text-transform: uppercase;
}

a.active,a:hover {
	background: #ffffff;
}
