<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body class="bg-black">
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="bewerbungen.html">Bewerbung</a></li>
                <li><a href="firmenliste-mit-bewerbungen.html">Firmen mit Bewerbungen</a></li>
                <li><a href="firmenliste-mit-praktikas.html">Firmenliste mit Praktikas</a></li>
                <li><a href="firmenliste.html">Fimenliste</a></li>
                <li><a href="klassenliste.html">Klassenliste</a></li>
                <li><a href="lernender.html">Lernende</a></li>
                <li><a href="praktikas.html">Praktikas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 id="name">User name: </h1>

        <div class="flex-w w-[100%]">
            <div class="w-[30%]">
                <h1>List of files</h1>
                <table id="files-from-user" class="bg-blue-500 table-auto border-collapse border border-slate-400 ml-[5%] w-[90%]">
                    <tr>
                        <th>name</th>
                        <th>options</th>
                    </tr>
                </table>
            </div>
            <div class="w-[70%]">
                <h1>the open file</h1>
                <iframe id="this-file"></iframe>
            </div>
        </div>
        <div>
            <h1>Add file to the user</h1>
            <table class="bg-blue-500 table-auto border-collapse border border-slate-400 ml-[5%] w-[90%]">
                <tr>
                    <th>name of the file</th>
                    <th><input placeholder="noten.pdf" id="type-of-file" type="text"></th>
                </tr>
                <tr>
                    <th>file</th>
                    <th><input id="file-adding" type="file"></th>
                </tr>
            </table>
            <button id="add-file-to-user"></button>
        </div>
    </main>
    <footer class="footerdesign">
        <h3><a href="Impressum.html">Impressum</a></h3>
    </footer>
    <script src="../controler/functions.js"></script>
    <script src="../controler/oneUsersFiles.js"></script>
</body>
</html>



