<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body class="bg-black">
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="bewerbungen.html">Bewerbung</a></li>
                <li><a href="firmenliste-mit-bewerbungen.html">Firmen mit Bewerbungen</a></li>
                <li><a href="firmenliste-mit-praktikas.html">Firmenliste mit Praktikas</a></li>
                <li><a href="firmenliste.html">Fimenliste</a></li>
                <li><a href="klassenliste.html">Klassenliste</a></li>
                <li><a href="lernender.html">Lernende</a></li>
                <li><a href="praktikas.html">Praktikas</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <h1>Firmenliste mit Praktikas</h1>
        <ul>
            <li>Firma 1</li>
            <li>Firma 2</li>
            <li>Firma 3</li>
    </div>
    <footer class="footerdesign">
        <h3><a href="Impressum.html">Impressum</a></h3>
    </footer>
</body>
</html>