<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style/style.css" />
    <title>Firmenliste</title>
  </head>
  <body class="bg-black">
    <nav>
      <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a href="./bewerbungen.html">Bewerbung</a></li>
        <li>
          <a href="./firmenliste-mit-bewerbungen.html"
            >Firmen mit Bewerbungen</a
          >
        </li>
        <li>
          <a href="./firmenliste-mit-praktikas.html">Firmen mit Praktikas</a>
        </li>
        <li><a href="./firmenliste.html">Fimenliste</a></li>
        <li><a href="./klassenliste.html">Klassenliste</a></li>
        <li><a href="./lernender.html">Lerende</a></li>
        <li><a href="./praktikas.html">Praktikas</a></li>
      </ul>
    </nav>

    <main>
      <h1>Firmenliste</h1>
      <table
        class="bg-blue-500 table-auto border-collapse border border-slate-400 ml-[5%] w-[90%]"
        id="firms"
      >
        <tr>
          <th>id</th>
          <th>name</th>
          <th>phone</th>
          <th>mail</th>
          <th>owner</th>
          <th>adress</th>
        </tr>
      </table>

      <div id="only-admin">
        <table
          class="bg-blue-500 table-auto border-collapse border border-slate-400"
        >
          <tr>
            <td><h2>name</h2></td>
            <td>
              <input
                required
                placeholder="ding AG"
                type="text"
                id="firm-name"
              />
            </td>
          </tr>
          <tr>
            <td><h2>phone</h2></td>
            <td>
              <input
                required
                placeholder="+41 79 392 43 98"
                type="text"
                id="firm-phone"
              />
            </td>
          </tr>
          <tr>
            <td><h2>mail</h2></td>
            <td>
              <input
                required
                placeholder="ding AG"
                type="email"
                id="firm-mail"
              />
            </td>
          </tr>
          <tr>
            <td><h2>owner</h2></td>
            <td>
              <input
                required
                placeholder="Timothy williams"
                type="text"
                id="firm-owner"
              />
            </td>
          </tr>

          <tr>
            <td><h2>land</h2></td>
            <td>
              <input
                required
                placeholder="switzerland"
                type="text"
                id="firm-land"
              />
            </td>
          </tr>
          <tr>
            <td><h2>strasse</h2></td>
            <td>
              <input
                required
                placeholder="street-thing 33"
                type="text"
                id="firm-street"
              />
            </td>
          </tr>
          <tr>
            <td><h2>PLZ</h2></td>
            <td>
              <input required placeholder="8436" type="text" id="firm-plz" />
            </td>
          </tr>
          <tr>
            <td><h2>City</h2></td>
            <td>
              <input required placeholder="Bern" type="text" id="firm-city" />
            </td>
          </tr>
        </table>
        <button id="create-firm-">Kreieren</button>
      </div>
    </main>

    <footer class="footerdesign">
      <h3><a href="Impressum.html">Impressum</a></h3>
    </footer>
  </body>
  <script src="../controler/functions.js"></script>
  <script src="../controler/firmenliste.js"></script>
</html>
