<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style/style.css" />
    <title>Firmenliste</title>
  </head>

  <nav>
    <ul>
      <li><a href="./index.html">Home</a></li>
      <li><a href="./client/view/bewerbungen.html">Bewerbung</a></li>
      <li>
        <a href="./client/view/firmenliste-mit-bewerbungen.html"
          >Firmen mit Bewerbungen</a
        >
      </li>
      <li>
        <a href="./client/view/firmenliste-mit-praktikas.html"
          >Firmen mit Praktikas</a
        >
      </li>
      <li><a href="./client/view/firmenliste.html">Fimenliste</a></li>
      <li><a href="./client/view/klassenliste.html">Klassenliste</a></li>
      <li><a href="./client/view/lernender.html">Lerende</a></li>
      <li><a href="./client/view/praktikas.html">Praktikas</a></li>
    </ul>
  </nav>

  <h1>Firmenliste</h1>
  <table
    class="bg-blue-200 table-auto border-collapse border border-slate-400 pl-[5%] w-[90%]"
    id="firms">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>phone</th>
      <th>mail</th>
      <th>owner</th>
      <th>adress</th>
    </tr>
  </table>

  <footer></footer>
  <script src="../controler/firmenliste.js"></script>
</html>
