<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body class="bg-black">
    <header class="bg-red-500">
        <nav>

        </nav>
        <title>Firmenliste mit Bewerbungen</title>

    </header>

    <body>
        <h1>Firmenliste mit Bewerbungen</h1>
        <ul>
            <li>Firma 1</li>
            <li>Firma 2</li>
            <li>Firma 3</li>
          </ul> 
    </body>

</html>