<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./client/style/style.css">
</head>

        <nav>

        </nav>
        <title>Firmenliste mit Praktikas</title>

    </header>

    <body>
        <!DOCTYPE html>
        <html>
        
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width">
            <script src="https://cdn.tailwindcss.com"></script>
            <link rel="stylesheet" href="../style/style.css">
        </head>
        
                <nav>
        
                </nav>
                <title>Firmenliste mit Praktikas</title>
        
            </header>
        
            <body class="thing">
                <h1>Firmenliste mit Praktikas</h1>
                <ul>
                    <li>Firma 1</li>
                    <li>Firma 2</li>
                    <li>Firma 3</li>
                  </ul> 
            </body>
        
        </html>
    </body>

</html>