<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title> Anmeldung</title>
</head>

<body class="bg-black">
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html">Home</a></li>
                <li><a href="bewerbungen.html">Bewerbung</a></li>
                <li><a href="firmenliste-mit-bewerbungen.html">Firmen mit Bewerbungen</a></li>
                <li><a href="firmenliste-mit-praktikas.html">Firmenliste mit Praktikas</a></li>
                <li><a href="firmenliste.html">Fimenliste</a></li>
                <li><a href="klassenliste.html">Klassenliste</a></li>
                <li><a href="lernender.html">Lernende</a></li>
                <li><a href="praktikas.html">Praktikas</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <h1>Konaktdaten</h1>
        <br>
        <p>Teamname: Gelb</p>
        <br>
        <p>Firma: Computerschule Bern</p>
        <br>
        <p>Strasse: Zieglerstrasse 67, 3000</p>
        <br>
        <p>Tel: 031 398 98 00</p>
        <br>
        <p>Website:</p><a href="https://csbe.ch/">csbe.ch</a>

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2723.9648708668947!2d7.427423210846511!3d46.94272953346605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sde!2sch!4v1683797239188!5m2!1sde!2sch"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div style="margin: 12px 0 0 0;">
            <a target="_blank" href="https://www.google.de/maps/@46.9427295,7.4274232,17z">Größere Karte anzeigen</a>


            &nbsp; |&nbsp; <a target="_blank"
                href="https://www.google.de/maps/dir//CsBe+Computerschule+Bern+AG,+Zieglerstrasse,+Bern/@46.9428134,7.3474302,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x478e39b03e6d3737:0xbf44d0d4115d145d!2m2!1d7.4300035!2d46.9427259">Routenplan</a>
        </div>
    </div>
</body>

</html>