<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../style/style.css">
</head>

        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./client/view/bewerbungen.html">Bewerbung</a></li>
                <li><a href="./client/view/firmenliste-mit-bewerbungen.html">Firmen mit Bewerbungen</a></li>
                <li><a href="./client/view/firmenliste-mit-praktikas.html">Firmen mit Praktikas</a></li>
                <li><a href="./client/view/firmenliste.html">Fimenliste</a></li>
                <li><a href="./client/view/klassenliste.html">Klassenliste</a></li>
                <li><a href="./client/view/lernender.html">Lerende</a></li>
                <li><a href="./client/view/praktikas.html">Praktikas</a></li>
            </ul>
        </nav>
        <title>Klassenliste</title>
        </head>

        <body>
            <h1>Klassenliste</h1>
            <ul>
                <li>Klasse 1</li>
                <li>Klasse 2</li>
            </ul>
        </body>

</html>